header{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

footer {
	position: flex;
	align-content: center;
}

.background_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%; 
	z-index: -950;
}

.top_info{
	display: flex;
	flex-direction: column;
	align-content: center;
}

h1 {
	text-align: center;

}

.h1_box{
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(216, 216, 216, 0.5);
	border-bottom: 5px solid rgba(52.5, 78.8, 54.1, 0.5);
	border-right: 5px solid rgba(52.5, 78.8, 54.1, 0.5);
	border-left: 5px solid rgba(52.5, 78.8, 54.1, 0.5);
	width: 250px;
}

p {
	color: white;
}
.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex;
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
	transition: all 1s;
} 

.left_arm:hover {
	transform: rotate(1080deg);
}

.right_arm { 
	margin-left: 10px;
	transform-origin: top;
	transition: transform 1s;
} 

.right_arm:hover{
	transform: rotate(-200deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	transition: all 1s;
} 

.torso:hover {
	transform: scale(1.1);
}

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;
	display: flex;


} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover {
	-webkit-region-fragment:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

.music_player {
	text-align: center;
}

.music_player button{
	margin: 5px;
	width: 40px;
	height: 40px;
}

.music_player button:hover{
	background: cornflowerblue;
}

.music_player button:active{
	background: rgb(0, 15, 44);
}

.music_player button:focus{
	background: rgb(27, 99, 231);
}